header{
    width: 100%;
    height: 89px;
    
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99;
    
    display: flex;
    align-items: center;
    
    background-color: #404EED;
}
main {
    display: flex;
    
    background-color: #e5e5e5;
}
span{
    font-family: roboto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #232323;
}
input{
    width: 399px;
    height: 40px;
    
    margin-left: auto;
    margin-left: auto;  
    
    border-radius: 10px; 

    background-color: #f2f2f2;
    color: #818181;

    outline: none;
    border: none;
}
button{
    width: 399px;
    height: 40px;

    margin-left: auto;
    margin-left: auto;
    margin-top: 23px;

    background-color: #404EED;
    color: #ffffff;

   border-radius: 10px; 

   outline: none;
   border:none;
}
.buttonDisabled{
    background-color: #c4c4c4;   
}
.selectionContainer{
    width: 50%;
    height: 785px;

    margin-left: 0px;
    margin-top: 89px;
}
.ilustrationContainer{
    width: 50%;
    height: 785px;

    margin-right: 0px;
    margin-top: 89px;

    background-color: #404EED;
}
.contentContainer{
    width: 400px;
    height: 706px;

    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 38px;

    background-color: #e5e5e5;
}
.sectionsTitleSpan{
    margin-bottom: 8.5px;
}
.roundDiv{
    width: 100px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* margin-right: 40px;
    margin-top: 29.5px; */

    background-color: #f2f2f2;

    border-radius: 50px;
}
.optionsContainer{
    width: 400px;
    height: 159px;

    display: flex;
    justify-content: space-between;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px; 

   
}
.optionSpan{
    display: flex;
    justify-content: center;
    margin-top: 8.5px;
}
input::placeholder{
    margin: auto;
    font-family: roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #818181;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 342px;

    margin-right: 0px;
    position: relative;
    
    background-color: #ffffff;
}
#lastOrders{
    position:absolute;
    top: 30px;
    height: 30px;
    font-size: 24px;
    font-family: roboto;
    font-weight: 400;
    font-style: normal;

    margin-left: 5vw;
    margin-bottom: 15px;
   
}
.contentContainer .optionsContainer .roundDiv.selected {
    border: 3px solid #404EED;
}
.userModelsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overflow-x:scroll;

    height: 236.5px;
    width: 100%;
    margin-top: 15.5px;
    margin-left: 5vw;
    margin-right: 5vw;

    background-color: blue;
}
.userModelsContainer .usersModelsBox{
    margin-right: 16.5px;
    height: 236.5px;
    width: 201.5px;

    background-color: red;
}
.userModelsContainer .usersModelsBox .usersModelsImage{
    height: 180px;
    width: 180px;
}
.userModelsContainer .usersModelsBox .usersModelsSpan{
    font-size: 20px;
    font-family: roboto;
    font-weight: 700;
    font-style: normal;
    color: #232323;
}